.footer
    padding 34px 0
    position absolute
    left 0
    right 0
    bottom 0
    .wrap
        display flex
        align-items center
        justify-content space-between
    
    &__text
        color #D4D4D4
        font-size 14px

.creator
    center()
    p
        color #D4D4D4
        font-size 14px
        margin-right 10px
    
    img
        opacity 0.5
        t()
    &:hover
        img
            opacity 1