.header
    width 100%

    .wrap
        display flex
        justify-content space-between
        padding-top 10px
        padding-bottom 10px
        border-bottom 1px solid #f0f0f0

    &__logo
        img
            max-width 240px

.navigation
    center()
    &-list
        display flex
        align-items center

        &__item
            font-size 16px
            font-weight normal
            margin-right 70px
            color #7C7C7C
            cursor pointer
            t()
            &:last-child
                margin-right 0
            
            &.active
                color #31B0D9
            &:hover
                color #31B0D9