.help
    padding-bottom 125px!important

    &-tabs
        margin-top 35px
        border 1px solid #C2C9D1
        background white
        border-radius 20px

        &__tab
            padding 20px
            border-bottom 1px solid #C2C9D1
            max-height 70px
            transition 0.6s all
            overflow hidden
            cursor pointer

            &:last-child
                border-bottom none

            &.active
                max-height 1000px
            
            p
                font-size 16px
                line-height 28px
                padding-bottom 24px