.links
    display flex
    flex-wrap wrap
    justify-content space-between
    padding 25px 0

.link
    margin 20px 40px
    center()
    
    img
        margin-right 16px

    &__name
        font-weight 500
        font-size 14px
        color #44c1ef
        t()

    &:hover
        .link__name
            color #fe5c78