.block-nodata
    width 400px
    margin 20px auto
    height 200px
    filter $shadow
    border-radius 20px
    font-size 18px
    font-weight 600
    color #fe5c78
    center()
    background white