.notification
    position fixed
    left 50px
    top 50px
    z-index 15
    font-size 18px
    font-weight 600
    color #fe5c78
    border-radius 20px
    padding 40px
    background white
    filter $shadow